:root {
  /* Light Theme */
  --background-color-light: white;
  --text-color-light: black;
  --button-background-color-light: #e7e7e7;
  --button-text-color-light: black;
  --heading-color-light: black;

  /* Dark Theme */
  --background-color-dark: #042743;
  --text-color-dark: white;
  --button-background-color-dark: #333;
  --button-text-color-dark: white;
  --heading-color-dark: white;

  /* Blue Theme */
  --background-color-blue: #3f51b5;
  --text-color-blue: white;
  --button-background-color-blue: #303f9f;
  --button-text-color-blue: white;
  --heading-color-blue: white;

  /* Green Theme */
  --background-color-green: #092b0a;
  --text-color-green: white;
  --button-background-color-green: #092b0a;
  --button-text-color-green: white;
  --heading-color-green: white;


  
} 
/* Specific styling for navbar text color */
.text-white {
  color: white !important;
}

/* Styling for different themes */
.navbar-blue {
  background-color: #303f9f; /* Blue theme background */
}

.navbar-green {
  background-color:  #092b0a; /* Green theme background */
}

/* Optionally, you can set default colors for other themes */
.navbar-light {
  background-color: #f8f9fa; /* Light theme background */
}

.navbar-dark {
  background-color: #343a40; /* Dark theme background */
}

/* Specific styling for Navbar when mode is dark */
.navbar-white {
  color: white;
}
.navbar-dark .navbar-brand, .navbar-dark .nav-link {
  color: white; /* White color for text in dark mode */
}

body.light-theme {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.blue-theme {
  background-color: var(--background-color-blue);
  color: var(--text-color-blue);
}

body.green-theme {
  background-color: var(--background-color-green);
  color: var(--text-color-green);
}

button {
  background-color: var(--button-background-color-light);
  color: var(--button-text-color-light);
}

body.light-theme button {
  background-color: var(--button-background-color-light);
  color: var(--button-text-color-light);
}

body.dark-theme button {
  background-color: var(--button-background-color-dark);
  color: var(--button-text-color-dark);
}

body.blue-theme button {
  background-color: var(--button-background-color-blue);
  color: var(--button-text-color-blue);
}

body.green-theme button {
  background-color: var(--button-background-color-green);
  color: var(--button-text-color-green);
}

h2, h3, h4, h5, h6 {
  color: var(--heading-color-light);
}

body.light-theme h2, body.light-theme h3, body.light-theme h4, body.light-theme h5, body.light-theme h6 {
  color: var(--heading-color-light);
}

body.dark-theme h2, body.dark-theme h3, body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
  color: var(--heading-color-dark);
}

body.blue-theme h2, body.blue-theme h3, body.blue-theme h4, body.blue-theme h5, body.blue-theme h6 {
  color: var(--heading-color-blue);
}

body.green-theme h2, body.green-theme h3, body.green-theme h4, body.green-theme h5, body.green-theme h6 {
  color: var(--heading-color-green);
}
